donut-chart {
  :host {
    display: block;
  }

  svg {
    overflow: visible;
    transform-origin: center;
    width: 300px;
    height: 150;
  }

  path {
    transform-origin: center;
    cursor: pointer;
    filter:contrast(100%);
    &:hover,
    &.selected {
    filter:contrast(60%);

    }
  }

}
