<svg viewBox="0 0 100 100">
  <ng-container *ngIf="data">
    <!-- <circle cx="50" cy="50" r="50" /> -->
    <path
      *ngFor="
          let slice of data
            | slicesWithCommandsAndOffset : svgRadius : svgSize : borderSize : borderRounded : chartType : selectable :sliceSelected ;
          trackBy: trackByFn;
          let index = index
        "
      [attr.id]="'path-'+slice.id"
      [attr.fill]="slice.color"
      [attr.d]="slice.commands"
      [attr.transform]="'rotate(' + slice.offset + ')'"
      [class.selected]="slice.selected"
      (click)="selectSlice(slice)"
    ></path>
  </ng-container>
</svg>
